<%= form_for(@descoverly) do |f| %>
  <% if @descoverly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@descoverly.errors.count, "error") %> prohibited this descoverly from being saved:</h2>

      <ul>
      <% @descoverly.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descovery_time %><br>
    <%= f.time_select :descovery_time %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
