<p id="notice"><%= notice %></p>

<p>
  <strong>Descovery time:</strong>
  <%= @descoverly.descovery_time %>
</p>

<p>
  <strong>Type:</strong>
  <%= @descoverly.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @descoverly.description %>
</p>

<%= link_to 'Edit', edit_descoverly_path(@descoverly) %> |
<%= link_to 'Back', descoverlies_path %>
