<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @result.type %>
</p>

<p>
  <strong>Execution time:</strong>
  <%= @result.execution_time %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
